<!-- <ng-template appLoginPage></ng-template>
<button class = 'btn' (click)='loadComponent()'></button> -->

<!-- <p>window works</p> -->

<div class="window">
    
    <app-player-module ></app-player-module>
    <app-search-module (newItemEvent) = "doSearch($event)" (otherItemEvent) = "setToggle($event)"></app-search-module>
    
    <app-list-display [json] = "item"></app-list-display>
    <app-list-display [json] = "item2" [song_display] = "toggle" [search] = "true"></app-list-display>
    
</div>

