<!-- <ng-template appLoginPage></ng-template>
<button class = 'btn' (click)='loadComponent()'></button> -->

<!-- <p>window works</p> -->

<div class="window">
    <div class="content">
        <div class="sidebar">
            <mat-grid-list cols="1" class="mat" rowHeight="60px">
                <mat-grid-tile class="tile">Profile</mat-grid-tile>
                <mat-grid-tile class="tile">Following</mat-grid-tile>
                <mat-grid-tile class="tile" (click)="openLibrary()">Library</mat-grid-tile>
                <mat-grid-tile class="tile">Settings</mat-grid-tile>
                <mat-grid-tile class="tile">Create Playlist</mat-grid-tile>
            </mat-grid-list>

            <mat-divider [vertical]="true"></mat-divider>
        </div>

        <div *ngIf="open" class="lib">

            <!-- <mat-grid-list cols="1" class="tile">
               <mat-grid-tile>Library</mat-grid-tile>
            </mat-grid-list> -->
            <app-list-display [json]="item" (newItemEvent)="setIndices($event)"></app-list-display>
            <mat-divider [vertical]="true"></mat-divider>
        </div>

        <div *ngIf="profile">

        </div>

        <div>

            <app-search-module (newItemEvent)="doSearch($event)" (otherItemEvent)="setToggle($event)">
            </app-search-module>
            <!-- <app-list-display [json]="item2" [song_display]="toggle" [search]="true"></app-list-display> -->


            <div *ngIf="toggle" class="overflow" cdkDropList>
                <app-songs *ngFor="let items of query | slice:2" [song]="items[0]" [artist]="items[1]" [visible]="true"
                    [addable]="true">
                </app-songs>
            </div>
        </div>
    </div>
</div>

<div class="player">
    <mat-divider></mat-divider>
    <app-player-module (newItemEvent)="doNothing($event)" [service]="getService()" [appleMusicKit]="appleMusicKit"
        [indices]="indices"></app-player-module>
</div>