.window {
    width: 100vw;
    height: 90vh;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr;
    background-color: teal;
    margin-left: auto;
    margin-right: auto;
}