.search {
    background-color: white;
    color: black
}

.songtoggle {
    background-color: white;
    color: black
}

.btn{
    height: 30px;
    width: 60px;
    background-color: white;
    justify-items: center;
    color: black
}