.title {
    color: azure;
    font-size: 100px;
    margin-top: 10%;
}

.front-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotify-button {
    height: 200px;
    width: 200px;
    background-color: black;
    opacity: 0.8;
    transition: 0.3s;
    margin: 5px;
    outline: 2px;
    outline-style: ridge;
    outline-color: azure;
}

.apple-button {
    height: 200px;
    width: 200px;
    background-color: white;
    opacity: 0.8;
    transition: 0.3s;
    margin: 5px;
    outline: 2px;
    outline-style: ridge;
    outline-color: azure
}

.spot {
    height: 50px;
    width: auto;
}

.login {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 210px);
}

.btn:hover {opacity: 1}
.abtn:hover {opacity: 1}