<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<ng-template appLoginPage></ng-template>
<!--<app-apple-music-kit></app-apple-music-kit>-->
<app-window *ngIf="userlogin" [data] = "item"></app-window>
<div class="login" *ngIf="!userlogin">
    <div>
        <button mat-button class = 'btn' (click)='loadComponent()'> <img class="spot" src="../../assets/images/Spotify_Logo_RGB_White.png"> </button>
    </div>
    <div>
        <button mat-button class = 'abtn' (click)='loadApple()'> <img class="spot" src="../../assets/images/Apple-Music-Emblem.png"> </button>
    </div>
</div>
<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
<!-- <app-window>

</app-window> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
