.song {
    height: 50px;
    width: 100 px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font: size 8;
    overflow-y:scroll;
}


.btn {
    width: 30px;
    height: 30px;
    background-color: white;
    color: black
}

.song:hover {
    border: solid;
    border-radius: 2px;
    cursor: pointer;
    
}

